{% if dmp_result.failed -%}
Backup of {{ db.db_name }} failed: {{ dmp_result.msg }}
{% elif arc_result.failed -%}
Compress of {{ dump_file_path }} failed: {{ arc_result.msg }}
{% elif fet_result.failed -%}
Fetch of {{ arc_result.dest }} failed: {{ fet_result.msg }}
{% elif del_result.failed -%}
Deletion of backup files failed: {{ del_result.msg }}
{% else -%}
Backup of {{ db.db_name }} failed due to unspecified error.
{% endif -%}
